<% if flash[:notice] %>
  <div class="alert alert-info ">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= @question[@game.current_question_index].content %>
<div class="w-100">
  <% @question[@game.current_question_index].answers.each do |answer| %>
    <%= button_to "#{answer.content}", game_path(@game), method: :patch, params: { answer: answer.content }, class: "btn btn-success mt-4 w-100" %>
  <% end %>
</div>
